/*Element selector - styles the whole page*/
body{
    background-color:aliceblue;
}
/*element selector- styles heading*/
h1{
    color:#000;
}

/* ID selector - styles the form container*/
#mainform{
    border: 10px;
}

/* class selector - styles grouped inputs*/
.form-group{
    margin: 10px;
    padding: 10px;
}

/* attribute selector - styles text inputs */
input[type="text"],
input[type="email"],
textarea{
    margin: 10px;
    padding: 5px;
}