


/* Type Selector */
body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
}

/* ID Selector */
#about {
  background: white;
}

/* Class / Descendant Selector */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

/* Descendant Selector */
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Attribute Selector */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

header {
  background: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

img {
  width: 180px;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
}

button {
  background: #333;
  color: white;
  padding: 10px;
  border: none;
}

button:hover {
  background: #555;
}

footer {
  text-align: center;
  padding: 10px;
}
